*{
    box-sizing: content-box;
}

.kitComercial{
    margin: 0px auto 0 5%;
    padding-top: 1rem;
    overflow-y: auto;
    height: 80vh;
}

.main{  
    background-color: #0F0F0F;
    color: white;
    gap: 20px;
    height: 100vh;
}

.opcaoAtiva{
    cursor: pointer;
    margin-left: 10px;
    border-bottom: 1px solid #fff;
}

.opcaoInativa{
    cursor: pointer;
    margin-left: 10px;
    border-bottom: 1px solid #7a7a7a;
    color: #7a7a7a; 
}
.opcoes{
    margin-bottom: 10px;
}

.conteudo{
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-right: 5px;
}


.linha{ /* Define a altura da linha */
    border-color: #252525; 
}.linha{height: 2px;  /* Define a altura da linha */
    background-color: #252525; 
}


@media only screen and (max-width: 520px) {

    .kitComercial{
        width: calc(98vw - 10%);
        margin: 0px auto 0 10%;
        padding-top: 1rem;
    }
}