/* Estilos básicos */
body {
  background: #000000; /* Cor de fundo */
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  /* font-family: 'Times New Roman', Times, serif; */
  text-align: center;
}

/* Estrutura principal */
.main { 
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card-form, .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card-form {
  margin: 50px;
  width: 28%;
  padding: 20px;
  background-color: #252525;
  border-radius: 24px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.card-form input,
.card-form button {
  font-size: 18px;
  height: 50px;
  width: 92%;
  margin: -5px 10px;  
  border-radius: 5px;
  border: 1px solid #FCB900;
  /* background: transparent; */
}

.card-form input {
  color: white;
  padding-left: 10px;
}

/* .buttonLogin {
  width: 92%;
  background-color: #FCB900;
  color: #FCB900    ;
  cursor: pointer;
  font-size: 20px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonLogin:hover {
  background-color: #ffd54f;
  color: black;
} */

/* Estilo para a seção logo */
.logo {
  font-size: 22px;
  text-align: center;
}

.logo span:last-child {
  color: #FCB900;
}

.logo img {
  max-width: 100%;
  height: auto;
}

/* Responsividade */
@media screen and (max-width: 1100px) {
  .main {
    flex-direction: column;
  }

  .logo {
    order: -1;
  }

  .card-form {
    order: 0;
  }
}

@media screen and (max-width: 750px) {
  .card-form {
    width: 80%;
    padding: 15px;
  }

  .card-form h1 {
    font-size: 36px;
  }

  .logo {
    font-size: 16px;
    width: 90%;
  }

  button {
    font-size: 18px;
  }
}
