.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #161616; 
}
.header > div{
    margin: 0 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header h1, .header h3{
    margin-bottom: 0;   
    margin-top: 0.25rem;
}
.header h1{
    font-family: 'Abhaya Libre';
    font-weight:300;
    margin-left: 0.8rem;
    font-size: 1.75rem;
}

.header h1 span{
    font-family: 'Abhaya Libre';

}

.userImage {
    width: 40px; /* Largura da imagem */
    height: 40px; /* Altura da imagem */
    border-radius: 50%; /* Tornar a imagem circular */
    object-fit: cover; /* Garantir que a imagem seja centralizada e não distorça */
    border: 2px solid #ddd; /* Adicionar uma borda fina */
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave para destaque */
    transition: transform 0.3s ease; /* Animação para interação */
  }
  
  .userImage:hover {
    transform: scale(1.1); /* Aumenta levemente a imagem ao passar o mouse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
  }
  

.infosuser{
    text-align: right;
    color: #fff;
    
}

.infosuser h3{
    font-size: 1rem;
    margin-top: 10px;
    
}

.icons{
    height: 20px;
    width: 40px;
}

.icons:hover{
    cursor: pointer;
}

.menu{
    cursor: pointer;
}

.btnSidemenu{
    background-color: #161616  !important;
    border: 1px solid hsl(0, 4%, 35%)  !important;
    width: fit-content !important;
    height: fit-content !important;
    padding: 0 !important;
    font-size: 1rem;
}

.clickable{
    cursor: pointer;
}

.botaoResp{
    display: none;
    cursor: pointer;
}

.navList{
    display: flex;
}

.clickable{
    width: 26px;
    height: 23px;
    align-self: center;
}

@media (max-width: 570px) {
    .botaoResp {
        display: block;
        z-index: 4;
    }
    .navList {
        display: none; /* Inicialmente escondido */
        position: fixed;
        top: 0;
        left: -10px;
        width: calc(100vw + 10px);
        height: 50vh;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        background-color: #161616;
        z-index: 3;
        opacity: 0;
        transition: opacity 0.3s ease-in-out; /* Transição suave */
    }
    
    .navList.show {
        display: grid; /* Exibe o menu quando 'show' é aplicado */
        opacity: 1;    /* Torna o menu visível */
    }
    
    .navList > * {
        width: 100%;
        border: 1px solid rgba(94, 86, 86, 0.4);
    }
    
    .navList {
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh; /* Expandir para ocupar toda a tela */
    }

    .infosuser{
        display: none;
    }
}