
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";

:root{
  --black: rgba(0,0,0, 80);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  text-decoration: none;
}

*:visited{
  text-decoration: none;
}

*:active{
  text-decoration: none;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: local('Abhaya Libre'), url(./fonts/Abhaya_Libre/AbhayaLibre-Medium.ttf) format('truetype');
}
html, body, #root{
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
  color: white;
}

#root{
  overflow-y: auto;
}

