.sidemenu, .hiddenSidemenu{
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 999;
    position: fixed;
    background-color: #1a1a1a;
    padding-top: 2rem;
    padding-left: 0px;
    border-right: 1px solid #5E5656;
    transition: all 1s;
    text-decoration: none;
}

.sidemenu > *{
    text-decoration: none;
}

.hiddenSidemenu{
    min-width: 4%;
    align-items: center;
    left: -15%;
}

.sidemenu{
    gap: 1rem;
}