
.main{
}
*{
    box-sizing: content-box;
}

.dashboard{
    display: flex;
    flex-direction: column  ;
    
    width: calc(98vw - 6%);
    margin: 0px;
    margin-left: 40px;
    padding-top: 1rem;
    height: 100%;
}

.dashboardRow2060{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



.dashboardRow7510 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(94, 86, 86, 40);
    background:  #1c1c1b;
    border-radius: 16px;
    padding-top: 16px;
    padding-left: 16px;
}


.dashboardRow4040 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2%;
}

.ultimasPropostas{
  width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding: 10px;
}

.ultimasPropostasTitulo{
    margin-top: 20px;
}

.ultimasPropostasTitulo > *{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: 500;
}

.ultimasPropostasTitulo > *:hover{
    color: #f8cd0d;

}

.proposta, .semProposta{
  width: 100%;
    padding: 20px 20px;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;  
    border: 1px solid rgba(94, 86, 86, 40);
    background: #252525;
    border-radius: 16px;
    gap: 5px;
    align-items: center;
    justify-content: space-between; 
}

.novaProposta{
  color: #498dc5;
}

.emAnalise{
  color: #fcb800;
}

.aprovada{
  color: #38cf52;
}

.pendencias{
  color: #251717;
}

.iniNovaProp{
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.cardCampanha{
  background: #1c1c1b;
  border: 1px solid rgba(94, 86, 86, 40);
  border-radius: 16px;
  width: 100%;
  
}

.cardCampanha h5{
  margin-left: 5%;
}

.cardCampanha img{
  max-height: calc(9 * 16px);
  max-width: calc(16 * 16px);
  margin: 8px auto;
  border-radius: 8px;
  width: auto;
}

.contadorPropostas{
   width: 25%; border: none;
   padding: 20px 20px;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;  
    border-radius: 16px;
    gap: 5px;
    align-items: center;
    justify-content: space-between; 
}

.iniNovaProp, .itemDashboard, .ranking{
    width: fit-content;
    /* width: auto;  */
    padding: 20px 20px;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;  
    border: 1px solid rgba(94, 86, 86, 40);
    background:   #1c1c1b;
    border-radius: 16px;
    gap: 5px;
    align-items: center;
    justify-content: space-between; 
}

.proposta{
    /* width: fit-content; */
    display: block;
    font-size: 0.75rem; 
}

.semProposta{
    /* width: fit-content; */
    text-align: center;
    font-size: 0.75rem;
}

.ranking{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking:hover{
    text-decoration: underline;
    text-decoration-color:#FCB900;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}


.statusProposta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px ;
}

.statusRow{
    font-size: 0.75rem;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.valor{
    font-size: 1.25rem;
}

.icon{
    background-color: #FCB900;
    padding: 8px 8px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}



.usuario{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.infos > img{
    width: 30px;
    height: 30px;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.rowStatus{
     display: flex; 
     justify-content: right; 
     width: 70%; 
     flex-wrap: wrap;
     gap: 2rem;
}




@media only screen and (max-width: 870px) {
    .iniNovaProp,.contadorPropostas{
      width: 100%;
    }
    .ultimasPropostas{
        /* grid-template-columns: 45% 45%;   */
    display: flex;
    flex-direction: column;
    }
    .rowStatus > *{
        width: 100%;
    }
    .dashboardRow4040{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .rowStatus{
        width: 92%;
        
        justify-content: left;
    }
    .iniNovaProp{
        width: 92%;
    }
} 

@media only screen and (max-width: 520px) {
    .dashboardRow7510, .dashboardRow4040{
        display: flex;
        flex-direction: column;
    }
    
    .dashboard{
        width: calc(98vw - 10%);
        margin: 0px auto 0 10%;
        padding-top: 1rem;
    }
    .rowStatus{
        align-items: center;
        justify-content: center;
    }
    
}
